body{

}


.header-nav{
    display:flex;
   justify-content:space-between;
text-align: center;
   margin:2%%;
}
.header-logo{
/* margin:12px; */
    font-size:18px;
}
.nav-right-links{
    display:flex;
    justify-content: space-between;
    
}

.nav-right-links a{
    margin-right:2rem;
}